/* !css reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* ? utility */
.container{
    display: flex;
    height: 60px;
    width: 100%;
    border: 2px dashed black;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
}
nav{
    height: 100%;
    background-color: aquamarine;
    width: 450px;
    
}





