/* ! rules row cols */
.row.cols-2{
    flex-basis: calc(100% / 2);
}
.row.cols-3{
    flex-basis: calc(100% / 3);
}
.row.cols-4{
    flex-basis: calc(100% / 4);
}
.row.cols-5{
    flex-basis: calc(100% / 5);
}
.row.cols-6{
    flex-basis: calc(100% / 6);
}

/* ! gutter for cols */
.row.gut-10{
    margin: 0 -10px;
}
.row.gut-10 > .col{
    padding: 10px;
}

.row.gut-20{
    margin: 0 -20px;
}
.row.gut-20 > .col{
    padding: 20px;
}

.row.gut-30{
    margin: 0 -30px;
}
.row.gut-30 > .col{
    padding: 30px;
}

.row.gut-40{
    margin: 0 -40px;
}
.row.gut-40 > .col{
    padding: 40px;
}

.row.gut-50{
    margin: 0 -50px;
}
.row.gut-50 > .col{
    padding: 50px;
}

/* ! spacing margin */
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}

.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}

.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

.mt-60{
    margin-top: 60px;
}
.mb-60{
    margin-bottom: 60px;
}

.mt-70{
    margin-top: 70px;
}
.mb-70{
    margin-bottom: 70px;
}

.mt-80{
    margin-top: 80px;
}
.mb-80{
    margin-bottom: 80px;
}

.mt-90{
    margin-top: 90px;
}
.mb-90{
    margin-bottom: 90px;
}

.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}


